<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
</head>
<body>
    <div class="container col-sm-7"> 
        <h2 class="bg-dark text-light mt-3 p-2 rounded">All books</h2>
        <div class="list-group mb-3">
            {% for book in all_books %}
            <a href="/book/{{book.id}}" class="list-group-item bg-secondary text-light">{{book.title}}</a>
            {% endfor %}
        </div>
        <div>
            <h2 class="bg-dark text-light mt-3 p-2 rounded">Add a new Book</h2>
            <form action="/book/create_book" method="POST">
                <div class="form-group">
                    <label for="Book_title">Book Title</label>
                    <input type="text" name="title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="num_of_pages">Num of Pages</label>
                    <input type="text" name="num_of_pages" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary mb-3">Add book</button>
            </form>
        </div>
        <a href="/">Home</a>
    </div>

</body>
</html>